<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/b"
        android:label="@string/app_name"
        android:roundIcon="@drawable/b"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trimino"
        tools:targetApi="31">
        <activity
            android:name=".Erku"
            android:exported="false" />
        <activity
            android:name=".Tellephone"
            android:exported="false" />
        <activity
            android:name=".ActivityH4"
            android:exported="false" />
        <activity
            android:name=".ActivityH3"
            android:exported="false" />
        <activity
            android:name=".ActivityH2"
            android:exported="false" />
        <activity
            android:name=".ActivityH1"
            android:exported="false" />
        <activity
            android:name=".Arajin"
            android:exported="false" />
        <activity
            android:name=".Syu1_2_2"
            android:exported="false" />
        <activity
            android:name=".Syu1_2_1"
            android:exported="false" />
        <activity
            android:name=".Syu1_2y"
            android:exported="false" />
        <activity
            android:name=".Syu1_1_2"
            android:exported="false" />
        <activity
            android:name=".Syu1_1_1"
            android:exported="false" />
        <activity
            android:name=".Syu1_1y"
            android:exported="false" />
        <activity
            android:name=".GamePlay1"
            android:exported="false" />
        <activity
            android:name=".S2_15"
            android:exported="false" />
        <activity
            android:name=".S2_14"
            android:exported="false" />
        <activity
            android:name=".S2_13"
            android:exported="false" />
        <activity
            android:name=".S2_12"
            android:exported="false" />
        <activity
            android:name=".S2_11"
            android:exported="false" />
        <activity
            android:name=".S2_10"
            android:exported="false" />
        <activity
            android:name=".S2_9"
            android:exported="false" />
        <activity
            android:name=".S2_8"
            android:exported="false" />
        <activity
            android:name=".S2_7"
            android:exported="false" />
        <activity
            android:name=".S2_6"
            android:exported="false" />
        <activity
            android:name=".S2_5"
            android:exported="false" />
        <activity
            android:name=".S2_4"
            android:exported="false" />
        <activity
            android:name=".S2_3"
            android:exported="false" />
        <activity
            android:name=".S2_2"
            android:exported="false" />
        <activity
            android:name=".S2_1"
            android:exported="false" />
        <activity
            android:name=".Syu2"
            android:exported="false" />
        <activity
            android:name=".Syu1_verj"
            android:exported="false" />
        <activity
            android:name=".Syu5_3"
            android:exported="false" />
        <activity
            android:name=".Syu5_2"
            android:exported="false" />
        <activity
            android:name=".Syu5_1"
            android:exported="false" />
        <activity
            android:name=".Syu4_2"
            android:exported="false" />
        <activity
            android:name=".Syu4_1"
            android:exported="false" />
        <activity
            android:name=".Syu3_1"
            android:exported="false" />
        <activity
            android:name=".Syu2_3"
            android:exported="false" />
        <activity
            android:name=".Syu2_2"
            android:exported="false" />
        <activity
            android:name=".Syu2_1"
            android:exported="false" />
        <activity
            android:name=".Syu1_1"
            android:exported="false" />
        <activity
            android:name=".Wheeel"
            android:exported="false" />
        <activity
            android:name=".MyViewPagerAdapter6"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Table"
            android:exported="false" />

        <meta-data
            android:name="android.support.v7.app.AppCompatView.fontFamily"
            android:resource="@font/protest" />

        <activity
            android:name=".games"
            android:exported="false" />

        <meta-data
            android:name="android.support.v7.app.AppCompatView.fontFamily"
            android:resource="@font/protest" />

        <activity
            android:name=".Syu1"
            android:exported="false"
            android:label="@string/title_activity_syu1" />
        <activity
            android:name=".First"
            android:exported="false" />
        <activity
            android:name=".Stories"
            android:exported="false" />
        <activity
            android:name=".Letters"
            android:exported="false"
            android:label="@string/title_activity_letters"
            android:theme="@style/Theme.Trimino" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>