<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/b"
        android:label="@string/app_name"
        android:roundIcon="@drawable/b"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trimino"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".glux10.S3"
            android:exported="false" />
        <activity
            android:name=".glux10.S2"
            android:exported="false" />
        <activity
            android:name=".glux9.J5"
            android:exported="false" />
        <activity
            android:name=".glux9.J4"
            android:exported="false" />
        <activity
            android:name=".glux9.J3"
            android:exported="false" />
        <activity
            android:name=".glux9.J2"
            android:exported="false" />
        <activity
            android:name=".glux8.I11"
            android:exported="false" />
        <activity
            android:name=".glux8.I10"
            android:exported="false" />
        <activity
            android:name=".glux8.I9"
            android:exported="false" />
        <activity
            android:name=".glux8.I8"
            android:exported="false" />
        <activity
            android:name=".glux8.I7"
            android:exported="false" />
        <activity
            android:name=".glux8.I6"
            android:exported="false" />
        <activity
            android:name=".glux8.I5"
            android:exported="false" />
        <activity
            android:name=".glux8.I4"
            android:exported="false" />
        <activity
            android:name=".glux8.I3"
            android:exported="false" />
        <activity
            android:name=".glux8.I2"
            android:exported="false" />
        <activity
            android:name=".glux7.D9"
            android:exported="false" />
        <activity
            android:name=".glux7.D8"
            android:exported="false" />
        <activity
            android:name=".glux7.D7"
            android:exported="false" />
        <activity
            android:name=".glux7.D6"
            android:exported="false" />
        <activity
            android:name=".glux7.D5"
            android:exported="false" />
        <activity
            android:name=".glux7.D4"
            android:exported="false" />
        <activity
            android:name=".glux7.D3"
            android:exported="false" />
        <activity
            android:name=".glux7.D2"
            android:exported="false" />
        <activity
            android:name=".glux6.C9"
            android:exported="false" />
        <activity
            android:name=".glux6.C8"
            android:exported="false" />
        <activity
            android:name=".glux6.C7"
            android:exported="false" />
        <activity
            android:name=".glux6.C6"
            android:exported="false" />
        <activity
            android:name=".glux6.C5"
            android:exported="false" />
        <activity
            android:name=".glux6.C4"
            android:exported="false" />
        <activity
            android:name=".glux6.C3"
            android:exported="false" />
        <activity
            android:name=".glux6.C2"
            android:exported="false" />
        <activity
            android:name=".glux5.A13"
            android:exported="false" />
        <activity
            android:name=".glux5.A12"
            android:exported="false" />
        <activity
            android:name=".glux5.A11"
            android:exported="false" />
        <activity
            android:name=".glux5.A10"
            android:exported="false" />
        <activity
            android:name=".glux5.A9"
            android:exported="false" />
        <activity
            android:name=".glux5.A8"
            android:exported="false" />
        <activity
            android:name=".glux5.A7"
            android:exported="false" />
        <activity
            android:name=".glux5.A6"
            android:exported="false" />
        <activity
            android:name=".glux5.A5"
            android:exported="false" />
        <activity
            android:name=".glux5.A4"
            android:exported="false" />
        <activity
            android:name=".glux5.A3"
            android:exported="false" />
        <activity
            android:name=".glux5.A2"
            android:exported="false" />
        <activity
            android:name=".random_facts.sylfa.S_fact3"
            android:exported="false" />
        <activity
            android:name=".random_facts.sylfa.S_fact2"
            android:exported="false" />
        <activity
            android:name=".random_facts.sylfa.S_fact1"
            android:exported="false" />
        <activity
            android:name=".random_facts.luna.L_fact3"
            android:exported="false" />
        <activity
            android:name=".random_facts.luna.L_fact2"
            android:exported="false" />
        <activity
            android:name=".random_facts.luna.L_fact1"
            android:exported="false" />
        <activity
            android:name=".random_facts.faira.F_fact3"
            android:exported="false" />
        <activity
            android:name=".random_facts.faira.F_fact2"
            android:exported="false" />
        <activity
            android:name=".random_facts.faira.F_fact1"
            android:exported="false" />
        <activity
            android:name=".random_facts.elion.E_fact3"
            android:exported="false" />
        <activity
            android:name=".random_facts.elion.E_fact2"
            android:exported="false" />
        <activity
            android:name=".random_facts.elion.E_fact1"
            android:exported="false" />
        <activity
            android:name=".about.About_game1"
            android:exported="false" />
        <activity
            android:name=".glux4.B9"
            android:exported="false" />
        <activity
            android:name=".glux4.B8"
            android:exported="false" />
        <activity
            android:name=".glux4.B7"
            android:exported="false" />
        <activity
            android:name=".glux4.B5"
            android:exported="false" />
        <activity
            android:name=".glux4.B4"
            android:exported="false" />
        <activity
            android:name=".glux4.B3"
            android:exported="false" />
        <activity
            android:name=".glux4.B2"
            android:exported="false" />
        <activity
            android:name=".glux3.E4"
            android:exported="false" />
        <activity
            android:name=".glux3.E3"
            android:exported="false" />
        <activity
            android:name=".glux3.E2"
            android:exported="false" />
        <activity
            android:name=".about.Ej3"
            android:exported="false" />
        <activity
            android:name=".about.Ej2"
            android:exported="false" />
        <activity
            android:name=".about.Ej1"
            android:exported="false" />
        <activity
            android:name=".Splash_wheel"
            android:exported="false" />
        <activity
            android:name=".Splash_sea"
            android:exported="false" />
        <activity
            android:name=".Splash_butterfly"
            android:exported="false" />
        <activity
            android:name=".Splash_slow"
            android:exported="false" />
        <activity
            android:name=".Splash_fast"
            android:exported="false" />
        <activity
            android:name=".Splash2"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej4.WhiteSqreen5"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej4.WhiteSqreen4"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej4.WhiteSqreen3"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej4.WhiteSqreen2"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej4.WhiteSqreen1"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej3.BlueSqreen4"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej3.BlueSqreen3"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej3.BlueSqreen2"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej3.BlueSqreen1"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej2.RedSqreen3"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej2.RedSqreen2"
            android:exported="false" />
        <activity
            android:name=".heraxos.ej2.Red_sqreen"
            android:exported="false" />
        <activity
            android:name=".heraxos.DarkGreen7"
            android:exported="false" />
        <activity
            android:name=".heraxos.DarkGreen6"
            android:exported="false" />
        <activity
            android:name=".heraxos.DarkGreen5"
            android:exported="false" />
        <activity
            android:name=".heraxos.DarkGreen4"
            android:exported="false" />
        <activity
            android:name=".heraxos.DarkGreen3"
            android:exported="false" />
        <activity
            android:name=".heraxos.DarkGreen2"
            android:exported="false" />
        <activity
            android:name=".heraxos.Dark_green"
            android:exported="false" />
        <activity
            android:name=".glux10.S1"
            android:exported="false" />
        <activity
            android:name=".glux9.J1"
            android:exported="false" />
        <activity
            android:name=".glux8.I1"
            android:exported="false" />
        <activity
            android:name=".glux7.D1"
            android:exported="false" />
        <activity
            android:name=".glux6.C1"
            android:exported="false" />
        <activity
            android:name=".glux5.A1"
            android:exported="false" />
        <activity
            android:name=".glux4.B1"
            android:exported="false" />
        <activity
            android:name=".glux3.E1"
            android:exported="false" />
        <activity
            android:name=".SplashActivity2"
            android:exported="false" />
        <activity
            android:name=".Telefono"
            android:exported="false" />
        <activity
            android:name=".place.Place4x4"
            android:exported="false" />
        <activity
            android:name=".place.Place6x6"
            android:exported="false" />
        <activity
            android:name=".place.Place5x5"
            android:exported="false" />
        <activity
            android:name=".place.Place3x3"
            android:exported="false" />
        <activity
            android:name=".Tellephone"
            android:exported="false" />
        <activity
            android:name=".Syu1_2_2"
            android:exported="false" />
        <activity
            android:name=".Syu1_2_1"
            android:exported="false" />
        <activity
            android:name=".Syu1_2y"
            android:exported="false" />
        <activity
            android:name=".Syu1_1_2"
            android:exported="false" />
        <activity
            android:name=".Syu1_1_1"
            android:exported="false" />
        <activity
            android:name=".Syu1_1y"
            android:exported="false" />
        <activity
            android:name=".S2_15"
            android:exported="false" />
        <activity
            android:name=".S2_14"
            android:exported="false" />
        <activity
            android:name=".S2_13"
            android:exported="false" />
        <activity
            android:name=".S2_12"
            android:exported="false" />
        <activity
            android:name=".S2_11"
            android:exported="false" />
        <activity
            android:name=".S2_10"
            android:exported="false" />
        <activity
            android:name=".S2_9"
            android:exported="false" />
        <activity
            android:name=".S2_8"
            android:exported="false" />
        <activity
            android:name=".S2_7"
            android:exported="false" />
        <activity
            android:name=".S2_6"
            android:exported="false" />
        <activity
            android:name=".S2_5"
            android:exported="false" />
        <activity
            android:name=".S2_4"
            android:exported="false" />
        <activity
            android:name=".S2_3"
            android:exported="false" />
        <activity
            android:name=".S2_2"
            android:exported="false" />
        <activity
            android:name=".S2_1"
            android:exported="false" />
        <activity
            android:name=".Syu2"
            android:exported="false" />
        <activity
            android:name=".Syu1_verj"
            android:exported="false" />
        <activity
            android:name=".Syu5_3"
            android:exported="false" />
        <activity
            android:name=".Syu5_2"
            android:exported="false" />
        <activity
            android:name=".Syu5_1"
            android:exported="false" />
        <activity
            android:name=".Syu4_2"
            android:exported="false" />
        <activity
            android:name=".Syu4_1"
            android:exported="false" />
        <activity
            android:name=".Syu3_1"
            android:exported="false" />
        <activity
            android:name=".Syu2_3"
            android:exported="false" />
        <activity
            android:name=".Syu2_2"
            android:exported="false" />
        <activity
            android:name=".Syu2_1"
            android:exported="false" />
        <activity
            android:name=".Syu1_1"
            android:exported="false" />
        <activity
            android:name=".Wheeel"
            android:exported="false" />
        <meta-data
            android:name="android.support.v7.app.AppCompatView.fontFamily"
            android:resource="@font/protest" />

        <meta-data
            android:name="android.support.v7.app.AppCompatView.fontFamily"
            android:resource="@font/protest" />

        <activity
            android:name=".Syu1"
            android:exported="false"
            android:label="@string/title_activity_syu1" />
        <activity
            android:name=".Stories"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Foniqar"
            android:exported="false" />
    </application>

</manifest>